[Desktop Entry]
Name=WMDE Start Menu
Exec=wmde-start-menu-applet
Terminal=false
Type=Application
StartupNotify=true
Icon=fun.wmde.start-menu
Categories=COSMIC;
Keywords=COSMIC
MimeType=
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto